<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
