<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Shared/_Layout.css")" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>

