@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml"; // kalau ini layout kamu
}

<h2 class="login-title">Login</h2>

<form class="login-form" asp-action="Login" method="post">
    <input type="text" name="Username" placeholder="Username" required />
    <input type="password" name="Password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>


