@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hai Intern!- Welcome To Formulatrix</h1>
    <p>Lets learn about our projects <a href="https://formulatrix.com/">click here to get know more</a>.</p>
</div>
