@model List<MvcMovie.Models.UserModel>?

@if (Model != null)
{   
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var intern in Model)
            {
                <tr>
                    <td>@intern.Id</td>
                    <td>@intern.Name</td>
                    <td>@intern.Email</td>
                    <td>@intern.Position</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
