<h2>Add Payroll</h2>
<form method="post" action="/Payroll/SavePayroll">
    <div class="form-group">
        <label>ID</label>
        <input type="number" name="Id" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="Date" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Tap In</label>
        <input type="time" name="TapIn" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Tap Out</label>
        <input type="time" name="TapOut" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <a href="/Payroll" class="btn btn-secondary">Back</a>
</form>
